@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/Msg/Msg/GetGridJsonForAcceptLog",
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'F_Id', hidden: true },
                { label: '消息类型', name: 'F_Msg_Type', width: 100, align: 'left' },
                { label: '发送时间', name: 'F_SendTime', width: 115, align: 'left' },
                //{ label: '发送人', name: 'F_Sender', width: 80, align: 'left' },
                { label: '接受人', name: 'F_RealName', width: 80, align: 'left' },
                { label: '接受人电话', name: 'F_Phone', width: 80, align: 'left' },
                
                {
                    label: '已读状态', name: 'F_ReadState', width: 60, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == 'Y') {
                            return '已读';
                        } else {
                            return '未读';
                        }
                    }
                },

                { label: '内容', name: 'F_Content', width: 150, align: 'left' },
                { label: '读取地点', name: 'F_ReaderLocation', width: 300, align: 'left' },
                { label: '读取时间', name: 'F_ReaderTime', width: 150, align: 'left' }
            ],
           // multiselect: true,
            pager: "#gridPager",
            sortname: 'F_CreatorTime desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }

    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Details",
            title: "查看用户",
            url: "/SystemManage/User/Details?keyValue=" + keyValue,
            width: "700px",
            height: "550px",
            btn: null,
        });
    }

</script>
<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="接收人" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
